<div class="jumbotron center">
<h1>Welcome to my app!</h1>
<p>Click Here to Sign Up <%= link_to "Sign Up", "#", class: "btn btn-primary btn lg" %> <%= link_to "Log In", "#", class: "btn btn-success btn lg" %></p>
